<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PlantenServiceLibrary.PlantenService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/PlantenService/" />
            <add baseAddress="net.tcp://localhost:809/PlantenService/" />
            <add baseAddress="http://localhost:8732/PlantenService/" />
          </baseAddresses>
        </host>
        <endpoint binding="netNamedPipeBinding" contract="PlantenServiceLibrary.IPlantenService" name="namedPipeBinding">
        </endpoint>
        <endpoint binding="netTcpBinding" contract="PlantenServiceLibrary.IPlantenService" name="tcpBinding">
        </endpoint>
        <endpoint binding="wsHttpBinding" contract="PlantenServiceLibrary.IPlantenService" name="httpBinding">
        </endpoint>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" name="namedPipeBindingMEX" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" name="tcpBindingMEX" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="httpBindingMEX" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>