<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="namedPipePlanten" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="tcpPlanten" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="httpPlanten" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PlantenServiceHost/PlantenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpPlanten"
                contract="PlantenService.IPlantenService" name="httpPlanten">
                <identity>
                    <servicePrincipalName value="host/L120-PC08.vdabgenk.be" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://l120-pc08.vdabgenk.be/PlantenServiceHost/PlantenService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="namedPipePlanten"
                contract="PlantenService.IPlantenService" name="namedPipePlanten">
                <identity>
                    <servicePrincipalName value="host/L120-PC08.vdabgenk.be" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://l120-pc08.vdabgenk.be/PlantenServiceHost/PlantenService.svc"
                binding="netTcpBinding" bindingConfiguration="tcpPlanten"
                contract="PlantenService.IPlantenService" name="tcpPlanten">
                <identity>
                    <servicePrincipalName value="host/L120-PC08.vdabgenk.be" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>